.primary-parent{
    -fx-background-color:  WHITE;
}

.secondary-pane{
    -fx-background-color:  #eff0f0;
    -fx-background-radius: 15 15 15 15;
}

.button-cate{
    -fx-background-color:  WHITE;
    -fx-background-radius :  30 30 30 30;
    -fx-text-fill: BLACK;
}

.button-cate:hover{
    -fx-background-radius :  30 30 30 30;
    -fx-background-color:  #eff0f0;
}

.button-cate:pressed{
    -fx-background-radius :  30 30 30 30;
    -fx-background-color:  #00ffff;
    -fx-text-fill: BLACK;
}

.buttonMode{
    -fx-background-color:  BLACK;
    -fx-background-radius :  30 30 30 30;
    -fx-text-fill: WHITE;
}

.buttonMode:hover{
    -fx-background-color: #eff0f0;
    -fx-text-fill: BLACK;
}

.label{
    -fx-text-fill: BLACK;
}


.line{
    -fx-stroke: BLACK;
}

.btnBack{
    -fx-background-color: WHITE;
}
.btnBack:hover{
    -fx-text-fill: BLUE;
}